{% extends "layout.html" %}

{% block body %}<!-- about.html i oluştururken oluşturduktan sonra render etmemiz gerek bunun için about.html i url.py dosyasına haber vermemiz gerekiyor -->

    <h3>Hakkımızda</h3>
    <hr>

    <p>
    Merhabalar, gerek lisans eğitimim devam ederken gerek lisans eğitimimi tamamladığımda 4 ayrı firmada iş yeri eğitimi ve stajlarımı tamamladım. Elektrik tesisat, inşaat elektriği, montaj, cisco ve network teknolojileri, Network altyapısı,
    proje yönetimi, kamera sistemleri, fiber hatlar, elektrik tesisat projesi çizimi, yenilenebilir enerji sistemleri ve Python, C++, CSS, HTML yazılım dilleri hakkında yeterli sayılabilecek bir seviyede bilgi birikimi edindim.
    Kendimi yazılım dilleri ve bilgisayar teknolojileri üzerine geliştirmeye devam ediyorum. Gittiğim yerlerde en büyük avantajım samimiyet ve sosyal iletişimim oldu. Çalışacağım işte her türlü gelişime ve yeniliğe açık,
    yeni bilgi birikimi ve farklı tecrübelere hevesli biriyim. Meraklı ve sabırlı kişiliğim ile teknoloji sektöründe bir çok alan üzerinde çalışma yapabileceğime ve zaman içerisinde çalışma yaptığım alanda gelişeceğimden şüphem yok. 
    Herhangi bir alanda profesyonel tecrübelerim yok ancak şans verildiği takdirde kısa zaman içerisinde karşılıklı olarak birbirimize yararlı hizmetler sunacağımıza inanıyorum.
    </p>


{% endblock body %}