{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %} <!-- Crispy filtresini kullanmak için bunun eklememiz gerekiyor. -->

<div class="row">
<div class="col-md-6 offset-md-3" align="center">

<h3>Kayıt Ol</h3>
    <hr>
    <form method = "post">
        {% csrf_token %} <!-- bununla django bizi sisteme verilerimizi girerken 3. kişilerin bilgilerimizi çalmasını engelleyen bir altyapı yazılımı yazmış oluyor. -->

        {{form|crispy}} <!-- Bizim burada bir template filresi kullanmamız gerekiyor bunuda dışarıdan indirmemiz gerekiyor. -->
        <br> <!-- django crispy forms yazarak indirebilriz. -->
        <!-- filtremizi indirdikten sonra gerekli setting ayarlarını girdikten sonra form.as_p yerine uygulamanın söylediği filtreyi söylüyoruz. -->
        <button type = "submit" class = "btn btn-danger">Kayıt ol</button>

    </form>

</div>
</div>

<!--  Bir yöntem ama düzensiz crispy filtresi kullanılmadan
<h3>Kayıt Ol</h3>
<hr>
<form method="post">
      % csrf_token %          bununla django bizi sisteme verilerimizi girerken 3. kişilerin bilgilerimizi çalmasını engelleyen bir altyapı yazılımı yazmış oluyor. 
    form.as_p           as_p ile sayfamızda formumuzu gösteririz. 
    <br>
    <button type="submit" class="btn btn-danger">Kayıt Ol</button>
</form> -->
{% endblock body %}